
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>L'affaire du siècle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Un traité européen pour le climat, c'est possible !" />

	<meta property="fb:app_id" content="" />
	<meta property="og:title" content="L'affaire du siècle" />
	<meta property="og:description" content="Un traité européen pour le climat, c'est possible !" />
	<meta property="og:image" content="https://interpellation.pacte-climat.eu/images/share.jpg" />
	<meta property="og:url" content="https://interpellation.pacte-climat.eu" />
	<meta property="og:site_name" content="1000 milliards pour le climat" />
	<meta name="twitter:title" content="1000 milliards pour le climat" />
	<meta name="twitter:image" content="https://interpellation.pacte-climat.eu/images/share.jpg" />
	<meta name="twitter:description" content="Un traité européen pour le climat, c'est possible !" />
	<meta name="twitter:url" content="https://interpellation.pacte-climat.eu" />
	<meta name="twitter:card" content="summary_large_image" />


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	<script>
		(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-69533240-3', 'auto');
			ga('send', 'pageview');
		</script>

</head>

<body class="">

	<div class="container">
		<header>
			<div class="row">
				<div class="col-sm-6">
					<div class="brand">
						<a href="{{ url_for('home') }}">
							<img src="{{ url_for('static', filename='images/logo.png') }}"/>
							<h1>L'affaire du siècle</h1>
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<a href="https://laffairedusiecle.net/">
						Le site de la pétition →
					</a>
				</div>
			</div>
		</header>

		<div class="clearfix"></div>

		<div class="row " >
			<div class="col-md-8 col-lg-9">
				<span class="hero">
					Climat: Stop à l'inaction,<br>Demandons justice !
				</span>
			</div>

			<!--div class="col-md-4 col-lg-3 links">
				<h3>En savoir plus</h3>
				<a target="_blank" href="https://laffairedusiecle.net/">Le site de la pétition</a>
			</div-->
		</div>


		<div class="clearfix"></div>


		<div class=" content">

				<div class="steps">

					<div class="step step--1 active">

						<div class="row">
							<div class="col-md-8 col-lg-9">

								<div class="row bulletpoints">
									<div class="col-md-4">L'affaire du siècle, est une initiative citoyenne pour mettre l'Etat français face à sa responsabilité d'agir face à l'urgence climatique.</div>
									<div class="col-md-4">Le 12 décembre 2015 à Paris, la France signait avec 195 des autres pays sur les 197 que compte l'ONU le premier accord universel sur le Climat visant à maintenir le rechauffement climatique en deçà de 2°C. Mais suite à cette belle victoire diplomatique, il s'agit dersomais de passer des paroles aux actes. Or la France ne tient pas ses propres engagements climatiques.</div>
									<div class="col-md-4"><strong>2 millions de citoyens</strong> ont soutenu l'initiative de quatre associations, Notre Affaire à Tous, la Fondation pour la Nature et l’Homme, Greenpeace France et Oxfam France qui ont décidé, au nom de l’intérêt général, d’attaquer l’Etat français en justice pour qu’il respecte ses engagements climatiques et protège nos vies, nos territoires et nos droits.</div>
									<div class="col-md-4">Face à cette mobilisation sans précédent, qui fait de cette pétition la plus signée en France, nos députés ne peuvent plus rester silencieux. Demandons leur de soutenir eux aussi notre recours !</div>
								</div>

								<div class="progress">
									<div class="progress--fill" data-fill="15%" style="width:15%"></div>
								</div>

								<h2>
									Déjà 30 députés soutiennent notre recours pour demander à l'Etat français de tenir ses engagements climatiques. Si nous parvenons à 200, nous pouvons pouser le gouvernement à passer à l'action.
								</h2>

								<h2>Interpellez vos élus en moins d’une minute par Twitter et par e-mail&nbsp;!</h2>

								<form class="main-form form form-cp">
									<input type="text" id="cp" placeholder="Votre code postal" />
								</form>

							</div>

						</div>

					</div> <!-- step 1 -->

					<div class="deputes step step--2 ">
						<div class="list-deputes list-deputes__primary">
							<h2>
								Les député·es de votre département à interpeller en priorité
							</h2>

							{% for depute in deputes %}
								{% if depute.featured %}
									<div class="depute {{ 'dep-{}'.format(depute.departement) }} isFeatured">
									  <div class="card-parlement__info">
											<div data-src="{{ url_for('static', filename=depute.picture) }}" class="card-parlement__image img-circle"></div>
											<div class="card-parlement__title"><h3>{{ depute.name }}</h3><h4>Député {{ depute.party }}</h4></div>
										</div>
										<div class="card-parlement__cta">
											<span>Je l'interpelle</span>
											{% if depute.email == depute.email %}
												<button data-emails="{{ depute.email }}" data-nom="{{ depute.name }}" data-medium="Email" class="cta-btn cta-btn--email" >
													<i class="icon-2-envelope"></i>
												</button>
											{% endif %}
											{% if depute.twitter == depute.twitter %}
												<a target="_blank" data-nom="{{ depute.name }}" data-medium="Twitter" class="cta-btn cta-btn--twitter" href="https://twitter.com/intent/tweet?text={{ depute.twitter }} {{ text.twitter }}">
														<i class="icon-2-twitter"></i>
												</a>
											{% endif %}
										</div>
									</div>
								{% endif %}
							{% endfor %}

						</div>

						<div class="clearfix"></div>

						<div class="list-deputes list-deputes__secondary">
							<h2>À interpeller ensuite</h2>

							{% for depute in deputes %}
								{% if not depute.featured and not depute.supporter %}
									<div class="depute {{ 'dep-{}'.format(depute.departement) }}">
										<div class="card-parlement__info">
											<div data-src="{{ url_for('static', filename=depute.picture) }}" class="card-parlement__image img-circle"></div>
											<div class="card-parlement__title">
												<h3>{{ depute.name }}</h3>
												<h4>Député {{ depute.party }}</h4>
											</div>
										</div>
										<div class="card-parlement__cta">
											<span>Je l'interpelle</span>
											{% if depute.email == depute.email %}
												<button data-emails="{{ depute.email }}" data-nom="{{ depute.name }}" data-medium="Email" class="cta-btn cta-btn--email" >
													<i class="icon-2-envelope"></i>
												</button>
											{% endif %}
											{% if depute.twitter == depute.twitter %}
												<a target="_blank" data-nom="{{ depute.name }}" data-medium="Twitter" class="cta-btn cta-btn--twitter" href="https://twitter.com/intent/tweet?text={{ depute.twitter }} {{ text.twitter }}">
													<i class="icon-2-twitter"></i>
												</a>
											{% endif %}
										</div>
									</div>
									{% endif %}
								{% endfor %}

							<div class="clearfix"></div>
						</div>

						<div class="clearfix"></div>

						<div class="list-deputes list-deputes__already">
							<h2>Déjà convaincus</h2>

							{% for depute in deputes %}
								{% if depute.supporter %}
									<div class="depute {{ 'dep-{}'.format(depute.departement) }}">
											<div class="card-parlement__info">
												<div data-src="{{ url_for('static', filename=depute.picture) }}" class="card-parlement__image img-circle"></div>
												<div class="card-parlement__title">
													<h3>{{ depute.name }}</h3>
													<h4>Député {{ depute.party }}</h4>
												</div>
											</div>
									</div>
								{% endif %}
							{% endfor %}

							<div class="clearfix"></div>
						</div>

						<div class="clearfix"></div>

					</div><!-- step 2 -->
				</div><!--steps-->
				<div class="clearfix"></div>

		</div><!--content-->

	</div><!--container-->


	<div class="overlay overlay--sign">

		<div class="sign container">

			<span class="close--btn close-sign--btn">&times;</span>

			<div class="row">

				<div class="col-md-9 col-lg-8">

					<h2>Vous interpellez <span class="placeholder-name"></span></h2>

					<form class="main-form form form--popup" action="{{ url_for('send_mail') }}" id="main_subscribe">
						<input type="text" placeholder="Votre nom complet" required name="NAME"/>
						<input type="email" placeholder="Votre adresse e-mail" required  value="" name="EMAIL" class="required email"/>
						<label class="optin--input">
							<input type="checkbox" class="optin">
							Je souhaite savoir si cette campagne réussit
						</label>
						<button type="submit" name="submit" class="submit" data-loading-text="<i class='spinner sm-spin'></i> Envoi en cours">
							Envoyer
						</button>

						<div class="popup_message">
							<h2>Texte du message</h2>
							<p>

Madame la Députée, Monsieur le Député,<br><br>

Avec son rapport spécial du 8 octobre dernier, le GIEC tire une nouvelle fois la sonnette d’alarme. Mais le réchauffement climatique n’est pas une fatalité. Atteindre l’objectif de 1,5°C de réchauffement maximum demande une transition rapide et constitue une opportunité pour créer massivement des emplois sur tous nos territoires.<br><br>

Pour réussir, « le nerf de la guerre, c’est l’argent ». Le problème est le même dans tous les pays d’Europe : en Allemagne, c’est le patronat de l’industrie qui estime qu’il faut 50 milliards par an pendant 30 ans pour diviser par 4 ses émissions de CO2. Pour l’ensemble de l’Europe, la Cour des Comptes européenne estime qu’il faut investir quelques 1.100 milliards d’euros par an. Comment trouver des sommes aussi colossales ?<br><br>

Le projet de Pacte Climat européen permet de répondre à cette question en créant une Banque du Climat adossée à la BEI ainsi qu’un budget Climat au niveau européen. Cette solution rassemble des soutiens de plus en plus larges.<br><br>

D’Alain Juppé à Manuela Carmena, la maire Podemos de Madrid, en passant par Pascal Lamy, Jean-Pierre Raffarin, Jean-Marc Ayrault, Laurence Parisot, Barbara Pompili et Sabine Thillaye Présidentes des Commissions Développement Durable et Affaires européennes de l’Assemblée Nationale, Arnaud Leroy Président de l’Ademe, Christian Estrosi maire de Nice, Martine Aubry, Anne Hidalgo et Eric Piolle maires de Lille, Paris et Grenoble, Rudy de Leeuw Président de la Confédération européenne des Syndicats, Enrico Letta ancien Président du Conseil italien, Karl Falkenberg ancien DG Environnement de la Commission européenne et Pedro Sanchez, le nouveau Président du Conseil espagnol, plus de 300 personnalités venues de 12 pays et de toutes sensibilités, soutiennent cette initiative. C’est un rassemblement jamais-vu.<br><br>

Un Traité européen sur le climat ? De l’Espagne aux Pays-Bas et au Danemark, c’est probablement le seul sujet capable de rassembler un maximum de pays pour refonder et réveiller l’Europe.<br><br>

Vous trouverez ci-joint une tribune publiée dans <a href="https://drive.google.com/file/d/11byko2Z6LGMnQWLqRVnF3CW8_FJnVkxN/view">Le Soir</a> de Bruxelles avec Pascal Lamy, Enrico Letta et Denis McShane qui présente l’ensemble de notre projet. Veuillez trouver ci-joint la <a href="https://docs.google.com/spreadsheets/d/1uuSU-1jnZj_Avg2g_805i8DuRkRz68aY93pnOn-fCy0/edit?usp=drive_open&ouid=104416965020661980376">liste des signataires</a>.

Pouvons-nous compter sur votre soutien ?<br><br>

Pour signer, il vous suffit de l’indiquer <a href="https://climat-2020.us17.list-manage.com/subscribe?u=26d10beca0737cfe7aeb3837f&id=832bffb9cc">sur ce lien</a>. Si vous avez une préférence pour votre photo que  nous afficherons sur notre site. N’hésitez pas à l’envoyer à l’adresse suivante: secretariat.jouzel.larrouturou@climat-2020.eu<br><br>

Si vous souhaitez recevoir plus d’informations, n’hésitez pas à contacter soit le collectif local en réponse à ce mail soit notre responsable plaidoyer Yves Cohen à l’adresse mail suivant: yves.cohen@climat-2020.eu<br><br>

Très cordialement,<br>

							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div><!--overlay-->

	<div class="overlay overlay--success">

		<div class="container text-center success">

			<span class="close--btn close-success--btn">&times;</span>

			<h2 class="thankyou-phrase">Merci pour votre participation&nbsp;!<br/>Invitez vos proches à rejoindre cette mobilisation.</h2>
			<div class="share">
				<ul class="social">
					<li class="facebook">
						<a class="button" target="_blank" href="http://www.facebook.com/sharer.php?u=https://interpellation.pacte-climat.eu">
								<i class="icon-2-facebook-square"></i> Partager
						</a>
					</li>
					<li class="twitter">
						<a class="button" target="_blank" href="https://twitter.com/intent/tweet?text=D%27A%20Jupp%C3%A9%20%C3%A0%20la%20Maire%20Podemos%20de%20Madrid%2C%20le%20%23PacteFinanceClimat%20provoque%20un%20rassemblement%20jamais%20vu%20pour%20que%20l%27Europe%20mette%20la%20finance%20au%20service%20du%20climat.%20%E2%9E%A1%EF%B8%8F%20https%3A%2F%2Finterpellation.pacte-climat.eu%20Et%20vous%20%3F%20https%3A%2F%2Ft.co%2FEMliEjYSCU&amp;url=https://interpellation.pacte-climat.eu">
								<i class="icon-2-twitter"></i> Tweeter
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" />
	</script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
